<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="raisetech.studentmanagement.repository.StudentRepository">
  <resultMap id="studentResultMap" type="raisetech.studentmanagement.data.Student">
    <result property="deleted" column="is_deleted"/>
  </resultMap>
  <select id="getStudentList" resultMap="studentResultMap">
    SELECT * FROM students WHERE is_deleted = false
  </select>
  <select id="getStudentCourseList" resultType="raisetech.studentmanagement.data.StudentsCourses">
    SELECT * FROM students_courses
  </select>
  <select id="getApplyList" resultType="raisetech.studentmanagement.data.Apply">
    SELECT * FROM apply
  </select>

  <select id="searchApplyByTakeCourseId" resultType="raisetech.studentmanagement.data.Apply">
    SELECT * FROM apply WHERE take_course_id = #{takeCourseId}
  </select>

  <select id="getStudentById" resultMap="studentResultMap">
    SELECT * FROM students WHERE is_deleted = false AND student_id = #{studentId}
  </select>
  <select id="getStudentCourse" resultType="raisetech.studentmanagement.data.StudentsCourses">
    SELECT * FROM students_courses WHERE student_id = #{studentId}
  </select>

  <select id="searchStudentsByFullName" resultType="raisetech.studentmanagement.data.Student">
    SELECT * FROM students WHERE is_deleted = false AND fullName LIKE CONCAT('%',#{fullName},'%')
  </select>

  <insert id="setStudentData" parameterType="raisetech.studentmanagement.data.Student">
    INSERT INTO students(student_id,full_name,kana_name,nick_name,email,address,age,gender,remark)
    VALUES(#{studentId},#{fullName},#{kanaName},#{nickName},#{email},#{address},#{age},#{gender},#{remark})
  </insert>
  <insert id="setNewCourse" parameterType="raisetech.studentmanagement.data.StudentsCourses">
    INSERT INTO students_courses(take_course_id,course_id,student_id,course_name,start_date)
    VALUES(#{takeCourseId},#{courseId},#{studentId},#{courseName},#{startDate})
  </insert>
  <insert id="setNewApply" parameterType="raisetech.studentmanagement.data.Apply">
    INSERT INTO apply(apply_id,take_course_id,apply_status)
    VALUES(#{applyId},#{takeCourseId},#{applyStatus})
  </insert>

  <update id="updateStudent" parameterType="raisetech.studentmanagement.data.Student">
    UPDATE students SET nick_name = #{nickName},email = #{email},address = #{address},age =
    #{age},gender = #{gender},remark = #{remark},is_deleted = #{deleted} WHERE student_id =
    #{studentId}
  </update>

  <update id="updateStudentsCourses"
    parameterType="raisetech.studentmanagement.data.StudentsCourses">
    UPDATE students_courses SET course_id = #{courseId},course_name = #{courseName},complete_date =
    #{completeDate} WHERE take_course_id = #{takeCourseId}
  </update>

  <update id="updateApply" parameterType="raisetech.studentmanagement.data.Apply">
    UPDATE apply SET apply_status = #{applyStatus} WHERE apply_id = #{applyId}
  </update>

</mapper>
