<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生コース情報一覧</title>
</head>
<body>
<h1>受講生コース情報一覧</h1>
<table border="1" style="border-collapse:collapse;">
  <thead>
  <tr>
    <th>コースID</th>
    <th>ID</th>
    <th>名前</th>
    <th>コース名</th>
    <th>開始日時</th>
    <th>修了日時</th>
  </tr>
  </thead>
  <tbody th:each="studentDetail : ${studentDetailList}">
  <tr th:each="course , stat : ${studentDetail.studentsCourses}">
    <td th:text="${course.courseId}">1010</td>
    <td th:text="${course.studentId}">11</td>
    <td><a th:href="@{/updateView/{studentId}(studentId=${course.studentId})}"
           th:text="${studentDetail.student.fullName}"></a></td>
    <td th:text="${course.courseName}">WM</td>
    <td th:text="${course.startDate}">2024</td>
    <td th:text="${course.completeDate}">2025</td>
  </tr>
  </tbody>
</table>
<br><br>
<a th:href="@{/studentList}">受講生一覧</a><br>
<a th:href="@{/newStudent}">受講生登録</a>
</body>
</html>