<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<table border="1" border-collapse="collapse">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.studentId}">5</td>
    <td><a th:href="@{/updateView/{studentId}(studentId=${studentDetail.student.studentId})}"
           th:text="${studentDetail.student.fullName}"></a></td>
    <td th:text="${studentDetail.student.kanaName}">ゴミタロウ</td>
    <td th:text="${studentDetail.student.nickName}">ごっさん</td>
    <td th:text="${studentDetail.student.email}">gomi@example.com</td>
    <td th:text="${studentDetail.student.address}">愛知県名古屋市</td>
    <td th:text="${studentDetail.student.age}">88</td>
    <td th:text="${studentDetail.student.gender}">男</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
  </tr>
  </tbody>
</table>
<br><br>
<a th:href="@{/studentsCoursesList}">受講生コース一覧</a><br>
<a th:href="@{/newStudent}">受講生登録</a>
</body>
</html>