name: Java CI with Gradle


on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

env:
  EC2_USER: 'ec2-user'
  EC2_HOST: '13.113.193.103'
  SRC_PATH: 'build/libs/*.jar'
  DEST_JAR_PATH: '/home/ec2-user/StudentManagement.jar'
  SERVICE_FILE_NAME: 'StudentManagement.service'
  DB_URL: "jdbc:mysql://${{ secrets.RDS_ENDPOINT }}:3306/studentmanagement?useUnicode=true&characterEncoding=UTF-8"
  DB_USER: ${{ secrets.RDS_USERNAME }}
  DB_PASS: ${{ secrets.RDS_PASSWORD }}

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Test with Gradle
        run: ./gradlew test

      - name: Build with Gradle Wrapper
        run: ./gradlew bootJar

      - name: SCP Copy Application to EC2
        env:
          PRIVATE_KEY: ${{secrets.AWS_EC2_PRIVATE_KEY}}
        run: |
          echo ${PRIVATE_KEY} > private_key && chmod 600 private_key
          scp -o StrictHostKeyChecking=no -i private_key ${SRC_PATH} ${EC2_USER}@${EC2_HOST}:${DEST_JAR_PATH}

      - name: SSH Application Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{env.EC2_HOST}}
          username: ${{env.EC2_USER}}
          key: ${{secrets.AWS_EC2_PRIVATE_KEY}}
          envs:
            DEST_JAR_PATH
            DB_URL
            DB_USER
            DB_PASS
          command_timeout: 30m
          script: |
            if ! command -v java &> /dev/null; then
                sudo dnf install java-21-amazon-corretto-devel -y
            fi           
            cat <<EOF | sudo tee /etc/systemd/system/StudentManagement.service
            [Unit]
            Description=StudentManagement App
            After=network.target
            
            [Service]
            ExecStart=/usr/bin/java -Xmx256m -jar ${DEST_JAR_PATH}
            Environment="SPRING_DATASOURCE_URL=${DB_URL}"
            Environment="SPRING_DATASOURCE_USERNAME=${DB_USER}"
            Environment="SPRING_DATASOURCE_PASSWORD=${DB_PASS}"
            Restart=no
            Type=simple
            User=ec2-user
            Group=ec2-user
            SuccessExitStatus=143
            
            [Install]
            WantedBy=multi-user.target
            EOF
            
            sudo systemctl daemon-reload
            
            sudo systemctl restart StudentManagement
            sudo systemctl enable StudentManagement
