name: Java CICD with Gradle

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

env:
  EC2_USER: "ec2-user"
  EC2_HOST: "18.183.101.168"
  SRC_PATH: "build/libs/*.jar"
  DEST_JAR_PATH: "/home/ec2-user/StudentManagement.jar"
  SERVICE_FILE_NAME: "StudentManagement.service"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Test with Gradle
        run: ./gradlew test

      - name: Build with Gradle Wrapper
        run: ./gradlew bootJar

      - name: SCP Copy Application to EC2
        env:
          PRIVATE_KEY: ${{secrets.AWS_EC2_PRIVATE_KEY}}
        run: |
          echo ${PRIVATE_KEY} > private_key && chmod 600 private_key
          scp -o StrictHostKeyChecking=no -i private_key ${SRC_PATH} ${EC2_USER}@${EC2_HOST}:${DEST_JAR_PATH}

      - name: SSH Application Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{env.EC2_HOST}}
          username: ${{env.EC2_USER}}
          key: ${{secrets.AWS_EC2_PRIVATE_KEY}}
          envs: DEST_JAR_PATH
          script: |
            sudo dnf update -y
            if [ -f /etc/systemd/system/${SERVICE_FILE_NAME} ]; then
              echo "already environment file"              
            else
              cat <<EOF | sudo tee -a /etc/systemd/system/${SERVICE_FILE_NAME}
              [Unit]
              Description=StudentManagement App

              [Service]
              ExecStart=java -jar ${DEST_JAR_PATH}
              EnvironmentFile=/etc/sysconfig/StudentManagement
              Restart=no
              Type=simple
              User=ec2-user
              Group=ec2-user
              SuccessExitStatus=143

              [Install]
              WantedBy=multi-user.target
              EOF
            fi

            sudo systemctl daemon-reload

            if sudo systemctl status StudentManagement 2>&1 | grep "Active: active (running)"; then
              sudo systemctl restart StudentManagement
            else
              sudo systemctl start StudentManagement
            fi