name: Java CI with Gradle

on:
  push:
    branches: [ "main", "develop" ] # mainかdevelopブランチにpushされたら動く
  pull_request:
    branches: [ "main", "develop" ] # mainかdevelopブランチへのPRで作動する

env:
  EC2_USER: 'ec2-user'
  EC2_HOST: '54.248.39.15'
  SRC_PATH: 'build/libs/*.jar'
  DEST_PATH: '/home/ec2-user/StudentManagement.jar'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Test with Gradle
        run: ./gradlew test

      - name: Build with Gradle Wrapper
        run: ./gradlew bootJar

      - name: SCP Copy Application to EC2
        env:
          PRIVATE_KEY: ${{secrets.AWS_EC2_PRIVATE_KEY}}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          scp -o StrictHostKeyChecking=no -i private_key $SRC_PATH ${EC2_USER}@${EC2_HOST}:${DEST_PATH}

      - name: SSH Application Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{env.EC2_HOST}}
          username: ${{env.EC2_USER}}
          key: ${{secrets.AWS_EC2_PRIVATE_KEY}}
          envs: DEST_PATH,DB_URL,DB_USER,DB_PASS
        env:
          DB_URL: "jdbc:mysql://${{ secrets.RDS_ENDPOINT }}:3306/studentmanagement?useUnicode=true&characterEncoding=UTF-8"
          DB_USER: ${{secrets.RDS_USERNAME}}
          DB_PASS: ${{secrets.RDS_PASSWORD}}

          script: |
            sudo dnf update -y
            if ! command -v java &> /dev/null; then
                sudo dnf install java-21-amazon-corretto-devel -y
            fi
            
            pkill -f 'java -jar' || true
            
            sudo mkdir -p /etc/systemd/system
            
            cat <<EOL | sudo tee /etc/systemd/system/StudentManagement.service > /dev/null
            [Unit]
            Description=StudentManagement App
            After=network.target
            
            [Service]
            ExecStart=/usr/bin/java -jar ${DEST_PATH}
            
            Environment="SPRING_DATASOURCE_URL=${DB_URL}"
            Environment="SPRING_DATASOURCE_USERNAME=${DB_USER}"
            Environment="SPRING_DATASOURCE_PASSWORD=${DB_PASS}"
            
            User=ec2-user
            Group=ec2-user
            SuccessExitStatus=143
            Restart=always
            
            [Install]
            WantedBy = multi-user.target
            EOL
            
            sudo systemctl daemon-reload
            sudo systemctl enable StudentManagement
            sudo systemctl restart StudentManagement
             
